.nav{
    .nav-list{
        list-style: none;
        text-align: center;
        .nav-item{
            text-decoration: none;
            color: white;
            font-size: 2em;
        }
    }
}